.search input {

    margin: 10px 150px;
    font-size: 20px;
    width: 60%;
}

button {
    margin: 20px;
    padding: 4px;
}
.windsor {
    border-color: mediumblue;
}
.school {
    border-color: greenyellow;
}
