.error {
  color: red;
}

:host {
  display: inline-grid;
  border: 5px dotted black;
  padding: 10px 20px;
  height: 400px;
  border-radius: 5px;
  background-color: cadetblue;
  width: 20%;
  margin: 10px 70px;
}

.title {
  font-size: 30px;
  text-align: center;
}

:host.is-last {
  border: 2px solid black;
}


.content-image {
  width: 70%;
}

p {
  font-size: 16px;
}
a, a:active {
  text-decoration: none;
}
a:hover{
  text-decoration: black;
}
